.btnPrimary{
  background-color: lightblue;
}

.btnMuted{
  background-color: gray;
}

.btnDefault{
  background-color: rgb(255, 0, 0);

}

.btnNone{
  background-color: black;
}

.btnIsLoading{
  background-color: white;
  color: black
}

.activeTag{

  border-color: rgb(255, 0, 93);
  color: rgb(255, 0, 93);
}